<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="TaurusBikeShopDB"
         connectionString="Server=35.221.161.150,1433;Database=TaurusBikeShopDB;User Id=sqlserver;Password=oop_db_bsit22A;TrustServerCertificate=True;MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SessionTimeoutMinutes" value="60" />
    <add key="AppVersion" value="1.0.0" />
    <add key="GCSBucketName" value="taurus-bike-shop-media-2026" />
  </appSettings>
</configuration>
