<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="Taurus-bike-shop-sqlserver-2026"
         connectionString="Server=REDACTED,1433;Database=Taurus-bike-shop-sqlserver-2026;User Id=sqlserver;Password=REDACTED;TrustServerCertificate=True;MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SessionTimeoutMinutes" value="60" />
    <add key="AppVersion" value="1.0.0" />
    <add key="GCSBucketName" value="taurus-bike-shop-bucket" />
  </appSettings>
</configuration>
